.cmcontainer
{
position: absolute;
width: 1500px;
height: 650px;
left: 220px;    
top: 180px;

background: #FFFFFF;
box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.currentmem{
position: absolute;
width: 558px;
height: 151px;
left: 220px;
top: 36px;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 81px;
display: flex;
align-items: center;

color: #FFFFFF;
}


.backbox {
    position: absolute;
    left: 800px;
    top: 870px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    background-color: #17d71e; /* Green */
    border: none;
    
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 30px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
}
.backbox {
  transition-duration: 0.4s;
}

.backbox:hover {
    background-color: #128816; /* Green */
    color: white;
}

.confirmbox button{
    position: absolute;
    left: 970px;
    top: 870px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    background-color: #F37022; /* Green */
    border: none;
    
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 30px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}
.confirmbox button{
  transition-duration: 0.4s;
}

.confirmbox button:hover {
    background-color: #984515; /* Green */
    color: white;
}


.inputContainer{
  display: flex;
  gap: 0.25rem;
  flex-direction: column;
}

.inputContainer> label{
  font-size: 1.50rem;
  margin-left: 60px ;
  margin-top: 40px;
  align-items: center;
}
.inputContainer > input{
  all: unset;
  background-color: #f5f5f5;
  font-size: 1rem;
  border:solid 1px #888888;
  border-radius: 0.5rem;
  height: 1.50rem;
  padding: 0.75rem 0.50rem;
  max-width: 15rem ;
  margin-left: 50px ;
  justify-content: center;
}

.formgroup{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 5px;
}

.dropdownContainer >label {
    align-items: center;
    font-size: 1.50rem;
  margin-left: 60px ;
  margin-right: 60px ;
  margin-top: 40px;
  align-items: center;
}
.dropdownContainer > select {
  
    max-width: 15rem ;
    font-size: 0.9rem;
    background-color: #f5f5f5;
    padding: 1rem 1rem;
    margin-left: 50px ;
    border-radius: 0.5rem;
    cursor: pointer;

}
.dropdownContainer{
    display: flex;
    gap: 0.25rem;
    flex-direction: column;
  }