.cmcontainer
{
position: absolute;
width: 700px;
height: 300px;
left: 600px;    
top: 140px;

background: #FFFFFF;
box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

.currentmem{
position: absolute;
width: 558px;
height: 151px;
left: 220px;
top: 36px;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 81px;
display: flex;
align-items: center;

color: #000000;
}


.backbox {
    position: absolute;
    left: 820px;
    top: 1130px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    background-color: #17d71e; /* Green */
    border: none;
    
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 30px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));
}
.backbox {
  transition-duration: 0.4s;
}

.backbox:hover {
    background-color: #128816; /* Green */
    color: white;
}

.confirmbox button{
    position: absolute;
    left: 1000px;
    top: 1130px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    background-color: #F37022; /* Green */
    border: none;
    
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 30px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));

}
.confirmbox button{
  transition-duration: 0.4s;
}

.confirmbox button:hover {
    background-color: #984515; /* Green */
    color: white;
}


.inputContainer{
  display: flex;
  flex-direction: row;
  
}

.inputContainer> label{
    font-family: 'Outfit';
font-style: normal;
  font-size: 2rem;
  margin-left: 100px ;
  margin-top: 50px;
  align-items: center;
}
.inputContainer > input{
  all: unset;
  background-color: #f5f5f5;
  font-size: 1.2rem;
  border:solid 1px #888888;
  border-radius: 0.5rem;
  height: 1.50rem;
  padding: 0.75rem 0.50rem;
  max-width: 15rem ;
  margin-left: 10px ;
  margin-top: 50px;
  justify-content: center;
}

.cmcontainer{
  display: grid;
  grid-template-rows: auto auto auto ;
  gap: 5px;
}


.searchbox > input {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    position: absolute;
    top: 550px;
    left: 450px;
    width: 1000px;
    height: auto;
    margin: -10px 5px;
    border: 1px solid #888888;
    padding-top: 20px;
    padding-right: 160px;
    padding-bottom: 20px;
    padding-left: 60px;
    border-radius: 30px;
    
}
.bigtext span
{
    position: absolute;
width: 558px;
height: 151px;
left: 220px;
top: 420px;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 81px;
display: flex;
align-items: center;

color: #000000;
}
.addbbox button{
    position: absolute;
    left: 1480px;
    top: 540px;
    
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    display: flex;
    align-items: center;
    
    color: #FFFFFF;
    background-color: #F37022; /* Green */
    border: none;
    
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 30px;
    filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));

}
.addbbox button{
  transition-duration: 0.4s;
}

.addbbox button:hover {
    background-color: #984515; /* Green */
    color: white;
}
.bigbox{
    
    position: absolute;
    width: 1500px;
    height: 500px;
    left: 220px;
    top: 620px;
    
    background: #FFFFFF;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.htext span{
    position: absolute;

left: 80px;
top: 20px;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 81px;
display: flex;
align-items: center;
}
.ssbox button{
  position: absolute;
  left: 280px;
  top: 250px;
  
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 20px;
  display: flex;
  align-items: center;
  
  color: #FFFFFF;
  background-color: #F37022; /* Green */
  border: none;
  
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  border-radius: 30px;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.25));

}
.ssbox button{
transition-duration: 0.4s;
}

.ssbox button:hover {
  background-color: #984515; /* Green */
  color: white;
}