.grtname{
position: absolute;
width: 464px;
height: 151px;
left: 220px;
top: 14px;
font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 81px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.date{
position: absolute;
width: 464px;
height: 151px;
left: 220px;
top: 78px;
font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 40px;
display: flex;
align-items: center;
color: #FFFFFF;
}

.smallone{

position: absolute;
display: flex;
width: 450px;
height: 200px;
left: 250px;
top: 200px;
background: #FFFFFF;
box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.smalltw{
    position: absolute;
    display: flex;
width: 450px;
height: 200px;
left: 770px;
top: 200px;
    background: #FFFFFF;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.smallthr{
position: absolute;
display: flex;
width: 450px;
height: 200px;
left: 1300px;
top: 200px;
    background: #FFFFFF;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.bigbox{
    position: absolute;
    width: 1500px;
    height: 500px;
    left: 250px;
    top: 450px;
    overflow-y:scroll;
    background: #FFFFFF;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}
.bigbox::-webkit-scrollbar {
    display: none;
  }

  .biggerboxrow{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
  
  }

  

.bigboxs1{
    position: absolute;
    width: 1500px;
    height: 500px;
    left: 250px;
    top: 1000px;
    overflow-y:scroll;
    background: #FFFFFF;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}
.bigboxs1::-webkit-scrollbar {
    display: none;
  }

  .bigboxs2{
    position: absolute;
    width: 1500px;
    height: 500px;
    left: 250px;
    top: 1550px;
    overflow-y:scroll;
    background: #FFFFFF;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}
.bigboxs2::-webkit-scrollbar {
    display: none;
  }
  .bigboxs3{
    position: absolute;
    width: 1500px;
    height: 500px;
    left: 250px;
    top: 2100px;
    overflow-y:scroll;
    background: #FFFFFF;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}
.bigboxs3::-webkit-scrollbar {
    display: none;
  }
  .bigboxs4{
    position: absolute;
    width: 1500px;
    height: 500px;
    left: 250px;
    top: 2650px;
    overflow-y:scroll;
    background: #FFFFFF;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}
.bigboxs4::-webkit-scrollbar {
    display: none;
  }

  .smallone span{
    font-weight: 400;
    font-size: 30px;
    padding: 20px;
    
  }
  .smalltw span{
    font-weight: 400;
    font-size: 30px;
    padding: 20px;
    
  }
  .smallthr span{
    font-weight: 400;
    font-size: 30px;
    padding: 20px; 
  }
.statisscore{
    position: absolute;
display: flex;

}

.statisscore span{
    margin:50px 150px;
    
    font-size: 80px;
    font-weight: 600;
}
