.grtname{
position: absolute;
width: 464px;
height: 151px;
left: 220px;
top: 14px;

font-family: 'Outfit';
font-style: normal;
font-weight: 700;
font-size: 64px;
line-height: 81px;
display: flex;

  text-align: center;
  background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

.date{
position: absolute;
width: 464px;
height: 151px;
left: 220px;
top: 78px;
font-family: 'Outfit';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 40px;
display: flex;
align-items: center;
color: #FFFFFF;

text-align: center;
  background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

.smallone{

position: absolute;
display: flex;
width: 450px;
height: 200px;
left: 250px;
top: 200px;
background: #FFFFFF;
box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.smalltw{
    position: absolute;
    display: flex;
width: 450px;
height: 200px;
left: 770px;
top: 200px;
    background: #FFFFFF;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.smallthr{
position: absolute;
display: flex;
width: 450px;
height: 200px;
left: 1300px;
top: 200px;
    background: #FFFFFF;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}
.bigbox{
    position: absolute;
    width: 1500px;
    height: 500px;
    left: 250px;
    top: 480px;
    overflow-y:scroll;
    background: #FFFFFF;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}
.bigbox::-webkit-scrollbar {
    display: none;
  }

  .biggerboxrow{
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    gap: 10px;
  
  }

  

.bigboxs1{
    position: absolute;
    width: 1500px;
    height: 500px;
    left: 250px;
    top: 1050px;
    overflow-y:scroll;
    background: #FFFFFF;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}
.bigboxs1::-webkit-scrollbar {
    display: none;
  }

  .bigboxs2{
    position: absolute;
    width: 1500px;
    height: 500px;
    left: 250px;
    top: 1620px;
    overflow-y:scroll;
    background: #FFFFFF;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}
.bigboxs2::-webkit-scrollbar {
    display: none;
  }
  .bigboxs3{
    position: absolute;
    width: 1500px;
    height: 500px;
    left: 250px;
    top: 2190px;
    overflow-y:scroll;
    background: #FFFFFF;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}
.bigboxs3::-webkit-scrollbar {
    display: none;
  }
  .bigboxs4{
    position: absolute;
    width: 1500px;
    height: 500px;
    left: 250px;
    top: 2760px;
    overflow-y:scroll;
    background: #FFFFFF;
    box-shadow: 2px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    
}
.bigboxs4::-webkit-scrollbar {
    display: none;
  }

  .smallone span{
    font-weight: 500;
    font-size: 30px;
    padding: 20px;
    text-align: center;
  background: linear-gradient(to right, #2504fe 20%, rgb(201, 11, 11) 40%, rgb(217, 0, 0) 60%, #780e77 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
    
  }
  .smalltw span{
    font-weight: 500;
    font-size: 30px;
    padding: 20px;
    text-align: center;
  background: linear-gradient(to right, #2504fe 20%, rgb(201, 11, 11) 40%, rgb(217, 0, 0) 60%, #780e77 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
    
  }
  .smallthr span{
    font-weight: 500;
    font-size: 30px;
    padding: 20px; 
    text-align: center;
  background: linear-gradient(to right, #2504fe 20%, rgb(201, 11, 11) 40%, rgb(217, 0, 0) 60%, #780e77 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  }
.statisscore{
    position: absolute;
display: flex;

}

.statisscore span{
    margin:40px 170px;
    
    font-size: 80px;
    font-weight: 600;
    text-align: center;
  background: linear-gradient(to right, #2504fe 20%, rgb(201, 11, 11) 40%, rgb(217, 0, 0) 60%, #780e77 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  
}
.s0textbox span{
  position:relative;
  left: 280px;
  top: 410px;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;

  text-align: center;
  background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  
}
.s1textbox span{
  position: relative;
  left: 280px;
  top: 940px;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  
}
.s2textbox span{
  position: relative;
  left: 280px;
  top: 1470px;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  
}
.s3textbox span{
  position: relative;
  left: 280px;
  top: 2000px;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  
}
.s4textbox span{
  position: relative;
  left: 280px;
  top: 2530px;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  background: linear-gradient(to right, #FFF 20%, #FF0 40%, #FF0 60%, #FFF 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
  
}

