

.searchbox > input {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;

    position: absolute;
    top: -20px;
    left: 100px;
    width: 300px;
    border: 1px solid #888888;
    padding-top: 10px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-left: 30px;
    border-radius: 30px;
    
}
